/*发布作品*/
header>button{
    font-size: .75rem;
    height: 1.4rem;
    margin: .4rem 0;
    line-height: 1.4rem;
    padding: 0 .5rem;
    outline: none;
    border:none;
    background: none;
}
header .posi_right{
    background: #cccccc;
}
header .useable{
    background: green;
    color: #ffffff;
}
.posi_left{
    position: absolute;
    left: .5rem;
    top:0;
    z-index: 2;
}
.posi_right{
    position: absolute;
    top:0;
    right: .5rem;
    z-index: 2;
}
.card_box{
    padding: .5em;

}
.card_box input{
    width: 100%;
    text-indent: .2rem;
    border: none;
    border-bottom: 1px solid #b4b4b4;
    padding: 5px;
}
.margin_2{
    margin: 2%;
}
.issue_pic_tip{
    border: 1px dashed #a8abb0;
}
.issue_pic{
    height: 5.5rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin-bottom: .6rem;
    border-radius: 5px;
}
.issue_pic .icon-jia1{
    font-size: 2.5rem;
    margin-top: .65rem;
}
.issue_cancel{
    position: absolute;
    right: 0;
    top: 0;
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.2rem;
    font-size: 1rem;
    color: red;
    z-index: 111;
}
/*.issue_cancel:hover{
    background: #E74450;
}*/
.issue_pic img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.sale_state{
    margin:.6rem .4rem;
}
.sale_status>span{
    padding:0 .4rem;
    margin-right: .5rem;
    border-radius: 5px;
    background: #F2F2F2;
    color: #666666;
}
.sale_status .active{
    background: gray;
    color: #ffffff;
}
.list-block .hide_item .active{
    background: gray;
    color: #ffffff;
}
.list-block{
    margin:.5rem;
}
.list-block .item-inner:after{
    content:'';
    background: none;
}
.list-group>ul{
    padding-bottom: 1rem;
}
.item-inner{
    border-bottom: 1px solid #a8abb0;
}
.list-block .hide_item{
    padding-left:.75rem;
    background: #F2F2F2;
}
.list-block ul ul{
    padding-left: .75rem;
    padding-top: .5rem;
    background: #F2F2F2;
    color: #666666;
}
.list-block .hide_item li{
    padding:.2rem;
    border-bottom: 1px solid #b4b4b4;
}
.hide_item>div{
    display: flex;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-right: .75rem;
    margin-left:.75rem;
    background: #F2F2F2;
    border-bottom: 1px solid #b4b4b4;
    flex-direction:row-reverse;
}
.hide_item>div>span{
    padding:0 .4rem;
}
.hide_item>div>input{
    width: 3rem;
    border: 1px solid #b4b4b4;
}
.list-block input[type="text"],.list-block input[type="number"]{
    width: 3rem;
    padding-left: .4rem;
    height: 1.45rem;
    border: 1px solid #b4b4b4;
    background: #ffffff;
}
/*.list-block .work_month{
    height: 1.45rem;
    width: 5rem;
    text-align: right;
    padding-right: 1rem;
}*/
/*发布文章*/
.margin_2 textarea{
    width: 100%;
    min-height: 8rem;
    resize:none;
    text-indent: 10px;
    margin:.5rem 0;
    border:none;
}

/*发布心情*/
.margin_2 .mood_textarea{
    min-height: 4rem;
}

.mood_pic_item .mood_pic{
    position: relative;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    margin-bottom: .5rem;
}
.mood_pic_item .mood_pic_add{
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
}
.mood_pic_add .icon-jiaxuxian{
    font-size:3rem;
}

.hide_item{
    display: none;
}
.item_title{
display: flex;
}
.item_title>span{
    padding-right: 5rem;
}
.item_title>input[type="text"]{
    color: #BBBBBB;
    width: 6rem;
    border: none;
    text-align: right;
}

