extends layout

block content
    div(style="width:100%;")
        img(src="#{root_path}/static/images/welcome.jpg" width="100%" height="100%")
block footer
    script(type="text/javascript").
        if (!{error}) {
            $.alert('请从微信端登录');
        } else {
            setTimeout(function () {
                window.location.href = '/home/home';
            }, 1000);
        }

